.toggle {
    margin-right: 6px;
    background: #d4d4d4;
    color: #1a1a1a;
    transition: 1s;
}
.toggle:checked {
    margin-right: 6px;
    background: #206b00;
    color: #fafafa;
    transition: 1s;
}
